/*Homepage header*/

.back-color {
    background-color: #fcfafa;
}

.header-title {
    display: flex;
    justify-content: space-evenly;
    margin-top: 37px;
}

.header-busket {
    display: flex;
}

.header-slogan {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #BF1E77;
}

.contact p.phone {
    width: 164px;
    height: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #545155;
}

.contact p.work-time {
    width: 114px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #545155;
    margin-top: -20px;
}

.busket {
    background-color: #BF1E77;
    display: flex;
    height: 40px;
    width: 73px;
    justify-content: space-around;

}

.busket-img {
    width: 17px;
    height: 15px;
}

.busket p {
    padding-top: 3px;
}

/*Homepage Menu*/

.nav-item a.nav-active {
    color: #BF1E77;
}

.front-slider {
    margin-bottom: 60px;
}

.front-slider-section {
    background-color: #E5E5E5;
}

/*Homepage Sale section*/

.front-sale {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;

}

.sale-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Homepage Grid section*/

.front-grid h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #545155;
    text-align: center;
    margin-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas:
        "post-1 post-1 post-2"
        "post-3 post-4 post-4"
        "post-5 post-6 post-7"
}

.front-grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 988px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 300px);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-areas:
            "post-1"
            "post-2"
            "post-3"
            "post-4"
            "post-5"
            "post-6"
            "post-7";
    }

    .front-grid-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.front-grid-item1 {
    grid-area: post-1;
}

.front-grid-item2 {
    grid-area: post-2;
}

.front-grid-item3 {
    grid-area: post-3;
}

.front-grid-item4 {
    grid-area: post-4;
}

.front-grid-item5 {
    grid-area: post-5;
}

.front-grid-item6 {
    grid-area: post-6;
}

.front-grid-item7 {
    grid-area: post-7;
}

/*footer section*/
.footer-menu a {

    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #BF1E77;
    text-decoration: none;
}

.footer-menu ul {
    list-style: none;

}

.footer-menu ul li {
    padding-bottom: 47px;
}

.footer-text div p {
    height: 24px;
    color: #BF1E77;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

.footer-section {
    background-color: #fce8e8;
    height: 400px;
    border-top: solid 1px #fcc2c2;
    margin-top: 30px;
}

.footer-content {
    padding-top: 70px;
}

/*Catalog*/
.catalog-head {
    display: flex;
    justify-content: space-between;
}

.catalog-head h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #545155;
}

.catalog-card-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #BF1E77;
    padding-top: 42px;
    padding-left: 10px;
    padding-right: 10px;
}

.catalog-card-price {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.catalog-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #545155;
    display: flex;

}

.catalog-busket {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #BF1E77;
    display: flex;
    align-items: center;
}

.catalog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog-card {
    border-radius: 32px 32px 32px 32px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
    min-height: 400px;
    margin-bottom: 15px;
}

.catalog-link div {
    padding-bottom: 10px;
}

.pagination-section {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.pagination li a {
    background-color: white;
    color: #BF1E77;
}

.pagination li.active a {
    background-color: #BF1E77;
    border: solid 1px #BF1E77;
}

/*Catalog-product*/
.sort {
    display: flex;
    align-items: center;   
    margin-top: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #545155;
}

.sort-img {
    max-width: 100%;
    padding-bottom: 10px;
    padding-left: 10px;
}

/*Product-review*/
.review-head {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #545155;
}

.review-subhead {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #545155;
}

.container-review {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

.review-order {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.review-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #BF1E77;
}

.review-busket a {
    text-decoration: none;
    color: #ffffff;
    background-color: #BF1E77;
    border-radius: 10px 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.review-busket {
    display: flex;
    align-items: flex-end;
}

.review-img {
    width: 100%;
    
    object-fit: cover;
    max-height: 100%;
}

/*Contacts*/
.contacts-section {
    margin-bottom: -100px;
}

.contacts-head h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #545155;
    padding-bottom: 30px;
}

.contacts-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #545155;
    padding-bottom: 30px;
}

.contacts-text-head {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    padding-bottom: 30px;
}

.contacts-container {
    padding-bottom: 30px;
}

.contacts-img {
    width: 14px;
    height: 14px;
}


.contacts-info {
    display: flex;
    padding-bottom: 30px;
}

.contacts-info p {
    padding-left: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #545155;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 70%;
    width: 100%;
    position: absolute;
}

/*Busket*/

.busket-image img {
    width: 100%;
    height: auto;
    max-width: 100px;
}

.busket-product-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #BF1E77;
}

.busket-product-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #545155;
}

.product-quantity {
    display: flex;
}

.minus-btn {
    width: 30px;
    border: none;
    background-color: #fceded;
    color: #BF1E77;
}

.quantity {
    display: flex;
    justify-content: center;
}

.quantity input {
    width: 50px;
    border: none;
    background-color: #fceded;
    text-align: center;
}

.quantity input:focus {
    outline: none;
}

.plus-btn {
    width: 30px;
    border: none;
    background-color: #fceded;
    color: #BF1E77;
}

@media (max-width: 768px) {
    .quantity {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.busket-quantity-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #545155;
}

.busket-product-section {
    border-bottom: solid 1px #fadede;
    padding-bottom: 10px;
    padding-top: 10px;
}

.busket-button {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Order*/
.order-form input {
    display: block;
    width: 100%;
    border: none;
    background-color: #fceded;
    padding-top: 5px;
    padding-bottom: 5px;
}

.order-form .required::before {
    content: '*';
    color: red;
    margin-right: 5px;
}

.order-form .col-6 input:focus {
    outline: none;
}

legend {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #545155;
}

.order-card {
    background-color: #fceded;
    max-width: 250px;
    max-height: auto;
}

.order-container {
    display: flex;
    justify-content: flex-end;
}

.order-card-head p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #545155;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.order-sum p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #BF1E77;
    display: flex;
    justify-content: center;
}

.order-apply {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.order-apply-button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #545155;
    border: none;
    border-radius: 4px 4px 4px 4px;
    color: #ffffff;
}

.order-head {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #545155;
}

@media (max-width: 375px) {
    .order-sum p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 150%;
        text-transform: uppercase;
        color: #BF1E77;
        display: flex;
        justify-content: center;
    }

    .order-card-head p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: #545155;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }

    .order-apply-button {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #545155;
        border: none;
        border-radius: 4px 4px 4px 4px;
        color: #ffffff;
    }
}

.order-return {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.order-return-button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BF1E77;
    border: none;
    border-radius: 4px 4px 4px 4px;
    color: #ffffff;
}

@media (max-width: 440px) {

    .order-return-button {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #BF1E77;
        border: none;
        border-radius: 4px 4px 4px 4px;
        color: #ffffff;
    }

}

/*Peyment*/

.payment-head {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #545155;
}

.back {
    background-color: #fceded;
}

.back span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #BF1E77;
}

.back p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #545155;
}

.delivery {
    margin-bottom: -20px;
}